@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('./assets/fonts/Proxima_nova/ProximaNova-Regular.eot');
    src: local('./assets/fonts/Proxima_nova/Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('./assets/fonts/Proxima_nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Proxima_nova/ProximaNova-Regular.woff2') format('woff2'),
        url('./assets/fonts/Proxima_nova/ProximaNova-Regular.woff') format('woff'),
        url('./assets/fonts/Proxima_nova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nasalization Rg";
    src: url('./assets/fonts/Nasalization/Nasalization.ttf')format("truetype")
}

@font-face {
    font-family: "Alien Energy Rg";
    src: url('./assets/fonts/Alien_energy/AlienEnergy.ttf')format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #252525 !important; */
    background-image: url('./images/background_radiance.png') !important;
}
